# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/tuskioscos-front/node_modules
/tuskioscos-back/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/tuskioscos-front/coverage
/tuskioscos-back/coverage

# next.js
/tuskioscos-front/.next/
/tuskioscos-back/.next/
/tuskioscos-front/out/
/tuskioscos-back/out/

# production
/tuskioscos-front/build
/tuskioscos-back/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/tuskioscos-front/.env*
/tuskioscos-back/.env*

# vercel
.vercel

# typescript
/tuskioscos-front/*.tsbuildinfo
/tuskioscos-back/*.tsbuildinfo
/tuskioscos-front/next-env.d.ts
/tuskioscos-back/next-env.d.ts