# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/tuskioscos/node_modules
/tuskioscos-back/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/tuskioscos/coverage
/tuskioscos-back/coverage

# next.js
/tuskioscos/.next/
/tuskioscos-back/.next/
/tuskioscos/out/
/tuskioscos-back/out/

# production
/tuskioscos/build
/tuskioscos-back/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/tuskioscos/.env*
/tuskioscos-back/.env*

# vercel
.vercel

# typescript
/tuskioscos/*.tsbuildinfo
/tuskioscos-back/*.tsbuildinfo
/tuskioscos/next-env.d.ts
/tuskioscos-back/next-env.d.ts